* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-weight: 400;

 

}

.header {
  width: 100%;
  height: 100%;
  background-image: url('https://lh3.googleusercontent.com/Sa7T2tt82WV10FSHd7tkHsqz_txPTrcfpIdSBckKYlJqsKwnjy3YlfYdMuQ6Z_sVtIYrfHdoczEDrBKkB1fi0P1qnlJE6WoBrd5PVQKq_q7TwzvHCXJOaDusoI7MJXak73zfswAZ9o6D2HPJYn01zHvPMBMskr_juzXP9e9sILZfBmDBsFza0nQ9hMsx9s145dUQBdHlDT0gA1Vk-SSloMOJ_hdp95PMX2QVMURLG7uukhTVoyPkpXPEm3QqRge_rSQ8uEefdQdmyt-LvoMDAaGRk0uN3ZQEFWGhEcTzN0x5gVw6FUR5G66Ka1FKSVReNsvGGOd6dh0RzMWt07xhNHFPsAof91Wl55h8oGk2tGlB54B_w6O9SEgGgND1fwh4xIqFQsFgdD7kqE1Qixw6yXG4cP3W26P4kNHgPNJ6SGG8HynbSIg5t7sqrcOOM_FdZYCWqQYOwPNSew4APRDrP8QXEPAu3JUp7tNwy073HUpZpvj6uGpTvKTuQER_wLJj88HqJEwsgdVS3wVPO2hoIjxCu20fFEyYu2jvIhNhOyQvfuepAeXH4mqdba7SB5Zzfu4tvRGF87mFLIG4P4wnbq2GCqHeddlLwOZDZEsoKl9RpL5nP1M404KhoUWryg6Iq9dmZkVh50hjICQJYXQLzHhZiNoYVRn3Gp2t4pxdFX4RJxBpjYD3c1mHjCYfeA=w501-h890-no?authuser=0');
  background-repeat: no-repeat;

  background-size: 100%;
  background-attachment: scroll;
  background-position: center;
  
}


.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding:  40px 0px;

}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 2em;
}

p {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 400;
  line-height: 45px;

  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin: 0.5em 0 0.5em 0;

  padding: 10px;

}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 400;
  line-height: 45px;

  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin: 0.5em 0 0.5em 0;

  padding: 10px;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}